<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>

<body>

<form method="post" th:action="@{/user/update/{id}(id=${user.getId()})}" th:object="${user}">

    <input type="hidden" name="_method" value="patch"/>

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="phoneNumber">Enter phone number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <br/>

    <button type="submit">Update user</button>
</form>

<br/>
<a th:href="@{/users}">Back to users</a>
</body>

</html>